# Dependências
node_modules/

# Expo e Metro
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Segurança e Chaves Nativas (MUITO IMPORTANTE)
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Configurações de Ambiente (Segurança de Credenciais)
.env
.env.local
.env.*.local

# Logs de Erro e Debug
npm-debug.*
yarn-debug.*
yarn-error.*
lerna-debug.log*

# TypeScript
*.tsbuildinfo

# Pastas nativas geradas
/ios
/android

# Arquivos do Sistema Operacional
.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# Arquivos de Editores de Código
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?